<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a [routerLink]="['/']" class="navbar-brand">LoL notes</a>

  <button class="navbar-toggler" type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"
        id="navbarSupportedContent">
      
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a href="#" class="nav-link">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Games</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Reasons</a>
        </li>
        
      </ul>
  </div>
  
</nav>